.form-item {
    display: flex;
    align-items: center;
}

.form-field {
    box-sizing: border-box;
    display: block;
    transform: translateY(-2px);
}

form {
    display: flex;
    flex-direction: column;
}

.error ul {
   list-style-type: none; 
}

.error {
    color: red;
}

.button {
    margin-top: 22px;
}

.signup-suggestion {
    text-align: center;
    width: 350px;
}

a {
    text-decoration: none;
    color: blue;
}