@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}

.center-horizontally {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin: 4px;
    text-decoration: none; 
    color: green;
    font-size: 1.5em;
    border: 3px solid green;
    border-radius: 10px;
    background-color: yellowgreen;
}