{% extends "base.html" %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'tasks/task_update.css' %}">

{% endblock %}

{% block content %}

<div class="center-horizontally">
    <h1>Update Task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.id_for_label == "id_description" %}
            <div class="error">{{ field.errors }}</div>
            <div class="description-item">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                <div class="description-field">{{ field }}</div>
            </div>
            {% else %}
            <div class="error">{{ field.errors }}</div>
            <div class="form-item">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                <div class="form-field">{{ field }}</div>
            </div>
            {% endif %}
        {% endfor %}

        <button class="button" type="submit">Update</button>
    </form>
</div>

{% endblock %}